body{
    background-color: rgb(235, 245, 223);
}
.dot {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
    box-shadow: 0 0 0 1px black;
  }
.lead {
    max-height: 10em; 
    overflow: hidden; 
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
}